.inline-checkbox-right {
    float: right;
    margin-top: 12px;
}
.box {
  background: #EEE;
  border-radius: 4px;
  margin-bottom: .75rem;
  text-align: center;
/*  
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: .1rem; */
}

.icon{
    height: 25px;
    padding: 5px;
    margin-bottom: -12px; /* = 1/2 * height */  
}

#last-sync{
    display: inline;
}

input.boxclose{
    float:right;
    padding: 5px;
    margin-left: -30px;
    width: 25px;
    /*margin-top:-62px; 
    margin-right:-7px;  */    
}

.spinner{
    position: relative;
}

#ddslick-edit-works{
    float:left;
}
#articlesTable_filter{
    float: right;
}
#articlesTable_length{
    float: right;
}

div.modal {
    position: fixed;
    z-index:100;
    top: 10%;
    left: 30%;
    border: 1px solid #bbb;
}
div.modal p{
    margin: 2.5em;
}

div.modal_overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

img.dd-selected-image{
    max-width:25px;
    max-height:25px;
    width: auto;
    height: auto;
}

img.dd-option-image{
    max-width:25px;
    max-height:25px;
    width: auto;
    height: auto;
}

table {
  table-layout: fixed;
}

.s {
  width: 35px;
}
.m {
  width: 75px;
}
.w {
  width: 150px;
}
.xw {
  width: 200px;
}

a.toggle-vis {
  padding-left: 1em;
  color: #222;
}

a.toggle-vis input{
  margin-left: 0.5em;
}

input.fandom-button {
  font-size: 9px;
  padding: 0 1em 0 1em;
  height: auto;
  line-height: auto;
  font-weight: 400;
  margin: 0;
  line-height: unset;
}
input.fandom-button:hover {
  background-color: #e9f4f8;
}

input.fandom-button.selected {
  background-color: #7c9ea8;
  color: #FFF;
}

input.fandom-button.selected:hover{
    background-color: #93b9c4;
}